.app-shell{

    .toolbar-actions {
        position: relative;
        left: 70%;
    }

    .main {
        margin-left: 21px;
        min-height: 95vh;
        
        h1 {
            text-align: center;
        }
        
    }

    mat-sidenav {
        
        .menu-list{
            list-style-type: none;
            padding: 0 0 0 16px;
            text-align: left;

            a {
                text-decoration: none;
                color: white;
            }
        
        }
    
    }

}