<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="app-shell">
    <mat-sidenav-container>
      <mat-sidenav-content>
        <mat-toolbar class="toolbar" color="primary">
          <div class="toolbar-item">{{title}}</div>
          
        </mat-toolbar>
        <app-inventory-list></app-inventory-list>
      </mat-sidenav-content>
      
    </mat-sidenav-container>
  </div>
</body>
</html>