<div class="inventory-item-container">
    <mat-card class="item-card">
        <mat-card-header>
            <mat-card-title>{{item?.itemName}}</mat-card-title>
            <mat-card-subtitle>{{item?.itemCost | currency:'EUR'}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="item?.itemImageUri | inventoryImage" alt="{{item?.itemName}}">
        <mat-card-content>
            <p>{{item?.itemDescription}}</p>
        </mat-card-content>
    </mat-card>
    <mat-card-actions>
        <button mat-raised-button color="accent" (click)="addToCart()">
            Add To Cart
        </button>
    </mat-card-actions>
</div>